{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- DJANGO META TEMPLATE TAGS START -->
	{% include "meta.html" %}
	<!-- More information here: https://stackoverflow.com/questions/30280370/how-does-content-security-policy-work

 We allow everything but we should improve security requirements later (like remove inline script)


	<meta http-equiv="Content-Security-Policy" content="default-src *; font-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;">-->
	<!-- DJANGO META TEMPLATE TAGS END -->

	{% block extra_css %}{% endblock %}

	<!-- IU CSS Design
	<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" rel="stylesheet">-->
	<link href="https://fonts.iu.edu/style.css?family=BentonSans:regular,bold%7CBentonSansCond:regular%7CGeorgiaPro:regular" rel="stylesheet">
	<link href="{% static 'iu-framework/fonts/icon-font.css' %}" rel="stylesheet">
	<link href="{% static 'iu-framework/css/iu-framework.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'iu-framework/css/iu-brand.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'iu-framework/css/iu-search.css' %}" rel="stylesheet" type="text/css">

	<!-- Custom Main Design -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<!-- IU Global script + Custom Modernizr -->
	<script src="{% static 'iu-framework/js/modernizr.min.js' %}"></script>
	{% block extra_js_top %}{% endblock %}

</head>
<body class="has-banner">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="">
		{% block header %}
        	<!-- skip nav -->
        	<!-- global branding bar -->
        	<!-- global search and toggles -->
		{% endblock %}
		<div class="off-canvas-content" data-off-canvas-content>
			{% block nav %}
            	<!-- site-name -->
            	<!-- main navigation -->
            	<!-- optional: secondary navigation -->
			{% endblock %}
			{% block banner %}
				<!-- banner image or video -->
			{% endblock %}
            <main role="main">
				<!-- section/sidebar navigation -->
                <!-- breadcrumbs -->
                <!-- optional: page-title -->
				{% block content %}{% endblock %}
				<!-- optional: footer-call-to-action -->
                <!-- optional: belt -->
                <!-- optional: skirt -->
            </main>
			{% block footer %}{% endblock %}
		</div><!-- /.off-canvas-content -->
	</div><!-- /.off-canvas-wrapper -->
	<div id="offCanvas" class="off-canvas position-right" data-off-canvas="" data-position="right">
		<!-- offcanvas: includes menu for mobile -->
		{% block mobile %}{% endblock %}
	</div>



	<!-- Include Javascript -->
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

	<!-- IU Global js
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation-essential/6.2.2/js/foundation.min.js"></script>-->
	<script src="{% static 'iu-framework/js/iu-framework.min.js' %}"></script>
	<script src="{% static 'iu-framework/js/search.js' %}"></script>

	<!-- Navbar shrink script -->
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

	{% block extra_js_bottom %}{% endblock %}
	{{ google_analytics|safe }}

</body>
</html>
