{% extends "website/base_template.html" %}

{% block content_body %}

<!-- Content -->
<div class="extra-space bg-none section" id="content">
    <div class="row">
      <h1 class="title">{{ blog_post.title }}</h1>
      <div class="panel">
        <p class="meta date">{{ blog_post.posted }}</p>
        <div class="text">
          {{ blog_post.body_html | safe }}
        </div>
      </div>
      <hr>

        <div class="blog_post_author">
          <p> Author(s) :</p>
          {% for author in blog_post.authors.all %}

              <figure class="media circle float-left" itemscope="itemscope" itemtype="http://schema.org/ImageObject" style="margin-top: 0px; margin-right: 5px">
                <img alt="" itemprop="image" width="21" height="21" src="{{author.avatar_url}}">
              </figure> {{author.user.get_full_name}}
          {% endfor %}
        </div>

    </div>
</div>
{% endblock %}


{% block extra_js_bottom %}
{% endblock %}