{% extends "website/base_template.html" %}
{% load staticfiles %}
{% load customfilters %}

{% block content_body %}
<div class="extra-space bg-none section" id="content">
    <div class="row">
        <br><br>
        <p><a href="https://grg.sice.indiana.edu">The Garyfallidis Research Group</a> offers research opportunities for
            undergraduates, graduate students, professional students, postdoctoral fellows, and sometimes professional staff.
            Interested candidates are invited to contact Professor Garyfallidis by e-mail (elef@indiana.edu)
        </p>
        <br/>
        <hr style="background-color: lightgray;height:  3px;"/>
                {% if all_careers %}
                {{ all_careers.body_internal_html | safe }}
                {% else %}
                <p>New positions are coming soon !</p>
                {% endif %}
        <br/>
        <hr style="background-color: lightgray;height:  3px;"/>
    </div>
</div>
</div>
{% endblock %}


{% block extra_js_bottom %}
{% endblock %}
