{% extends "website/dashboard_template.html" %}


{% block dashboard_content_body %}
<div class="panel">
    <a href="#" class="show-hide"><h2 class="title">Add Journal</h2></a>
    <div class="form-container" style="display: none;">
        {% if journal_form %}
        <form enctype="multipart/form-data" action="." method="post">
            {% csrf_token %}
            <fieldset class="fieldset">
                <legend>Journal</legend>
                {% for field in journal_form %}

                <div class="form-item">

                    <div class="form-item-label">
                        {{ field.label_tag }}
                    </div>

                    <div class="form-item-input">
                        {{ field }}
                    </div>

                </div>
                {% endfor %}
                <p><input class="button" name="journal" type="submit" value="Submit"></p>
            </fieldset>
        </form>
        {% endif %}
    </div>
</div>
<div class="panel">
    <h2 class="title">Edit Journal</h2>
	{% if all_journal %}
		{% for journal in all_journal %}
            <hr>
	        <h5>{{journal.title}}</h5>
            <p>{{journal.caption}}</p>
			<p>Show in page : {{journal.display}}</p>
	<div class="grid halves">
		<div class="grid-item">
			<a href="{% url 'edit_page' model_name='journal' model_id=journal.id %}" class="left-separator ">Edit</a>
			<a href="{% url 'delete_page' model_name='journal' model_id=journal.id %}" class="left-separator DeleteLink">Delete</a>
		</div>
	</div>

	{% endfor %}
	{% endif %}
</div>

<div class="panel">
    <h2 class="title">Add Publication</h2>
	<div class="grid halves">
		<div class="grid-item">
			<a href="#" class="show-hide left-separator">via Bibtex</a>
			<div class="form-block" style="display: none;">
				<form action="." method="post">
					{% csrf_token %}
					<fieldset class="fieldset">
        				<legend>Enter Bibtex</legend>
						<textarea id="bibtex_area" rows="10" name="bibtex" cols="40"></textarea>
						<p><input class="button" name="bibtex" type="submit" value="Submit"></p>
					</fieldset>
				</form>
			</div>
			<a href="#" class="show-hide left-separator">Manually</a>
			<div class="form-block" style="display: none;">
				{% if form%}
				<form action="." method="post">
					{% csrf_token %}
					<fieldset class="fieldset">
        				<legend>Enter Manually</legend>
						{% for field in form %}

						<div class="form-item">

							<div class="form-item-label">
							   {{ field.label_tag }}
							</div>

							<div class="form-item-input">
								{{ field }}
							</div>

						</div>
						{% endfor %}
						<p><input class="button" name="manual" type="submit" value="Submit"></p>
					</fieldset>
				</form>
				{% endif %}

			</div>
			<div class="form-container" style="display: none;"></div>
		</div>
	</div>
</div>
<div class="panel">
	<h2 class="title">Edit Publication* </h2>
	<small class="float-right">*highlight in orange</small>
	<br>
	{% if all_publications %}
	{% for publication in all_publications %}
	{% if publication.is_highlighted %}<b>{% endif %}
	<a href="{{ publication.url }}" {% if publication.is_highlighted %}style="color: darkorange" {% endif %}>
		{{publication.title}}
	</a>
	{% if publication.is_highlighted %}</b>{% endif %}
	<br>
	{{publication.author}}<br>
	<div class="grid halves">
		<div class="grid-item">
			<a href="{% url 'edit_page' model_name='publication' model_id=publication.id %}" class="left-separator ">Edit</a>
			<a href="{% url 'delete_page' model_name='publication' model_id=publication.id %}"
			   class="left-separator DeleteLink">Delete</a>
		</div>
	</div>
	<hr>
	{% endfor %}
	{% endif %}
</div>


{% endblock %}

{% block extra_js_bottom %}
<!-- Script to show confirmation box before deleting -->
<script>
	$( ".DeleteLink" ).click(function( event ) {
		event.preventDefault();
		var r = confirm("Are you sure you want to delete this Publication / Journal?");
		if (r == true) {
			window.location.href = $(this).attr('href');
		}
	});
</script>
<script>
        $(".grid-item .show-hide").each(function() {
            var $this = $(this);
            var $current_html = $this.next('div.form-block').html();
            var $code = $this.parent().find('.form-container');

            $code.hide();

            $this.on('click', function(e) {
                e.preventDefault();
                if ($code.html() != $current_html){
                    $code.hide();
                    $code.html($current_html);
                }
                $code.slideToggle();

            });
        });
		$(".panel .show-hide").each(function() {
            var $this = $(this);
            var $code = $this.next('.form-container');

            $code.hide();

            $this.on('click', function(e) {
                e.preventDefault();
                $code.slideToggle();

            });
        });
        </script>
{% endblock %}