{% extends "website/dashboard_template.html" %}


{% block dashboard_content_body %}

<div class="panel">
    <a href="#" class="show-hide"><h2 class="title">Add Event</h2></a>
    <div class="form-container" style="display: none;">
        {% if form%}
        <form enctype="multipart/form-data" action="." method="post">
            {% csrf_token %}
            <fieldset class="fieldset">
                <legend>Event</legend>
                {% for field in form %}

                <div class="form-item">

                    <div class="form-item-label">
                        {{ field.label_tag }}
                    </div>

                    <div class="form-item-input">
                        {{ field }}
                    </div>

                </div>
                {% endfor %}
                <p><input class="button" name="manual" type="submit" value="Submit"></p>
            </fieldset>
        </form>
        {% endif %}
    </div>
</div>
<div class="panel">
    <h2 class="title">Edit Event</h2>
	<br>
	{% if all_event_post %}
		{% for event in all_event_post %}
	<hr>
	<article class="event feed-item feed-item--small" itemscope="itemscope" itemtype="http://schema.org/Event">
		<div class="date-cube">
			<p><span class="month">{{event.start_date.month}}</span><span class="day">{{event.start_date.day}}</span></p>
			<p></p>
		</div>
		<div class="content">
			<h1 class="title"><span itemprop="name">{{event.title}}</span></h1>
			<p class="meta time"><span itemprop="startDate" content="{{event.start_date}}">{{event.start_date.hour}}</span> –
				<span itemprop="endDate" content="{{event.end_date}}">{{event.end_date.hour}}</span>
			</p>
			<div class="visually-hidden" itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place">
				<p itemprop="name">
				</p>
				<p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">-</p>
			</div>
		</div>
	</article>
	<div class="grid halves">
		<div class="grid-item">
			<a href="{% url 'edit_page' model_name='event' model_id=event.id %}" class="left-separator ">Edit</a>
			<a href="{% url 'delete_page' model_name='event' model_id=event.id %}" class="left-separator DeleteLink" value="event">Delete</a>
		</div>
	</div>

	{% endfor %}
	{% endif %}
</div>


{% endblock %}

{% block extra_js_bottom %}
{% endblock %}