{% extends "website/base_template.html" %}
{% block content_body %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
		<div class="content-card">
			<div class="page-heading"><h1>Admin Panel</h1></div>
			<a href="{% url "dashboard_sections" section_type_requested="fixed" %}">
				<div class="dashboard-button btn btn-default">Edit Fixed Sections</div>
			</a>
			<a href="{% url "dashboard_sections" section_type_requested="page" %}">
				<div class="dashboard-button btn btn-default">Add / Edit Pages</div>
			</a>
			<a href="{% url "dashboard_news" %}">
				<div class="dashboard-button btn btn-default">Add / Edit News</div>
			</a>
			<a href="{% url "dashboard_publications" %}">
				<div class="dashboard-button btn btn-default">Add / Edit Publications</div>
			</a>
			<a href="{% url "dashboard_carousel" %}">
				<div class="dashboard-button btn btn-default">Add / Edit Carousel Images</div>
			</a>
			<a href="{% url "dashboard_logout" %}">
				<div class="dashboard-button btn btn-default logout">Logout</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}
