{% extends "website/dashboard_template.html" %}


{% block dashboard_content_body %}

<div class="panel">
    <h2 class="title">Add / Edit Publications</h2>
	<div class="grid halves">
		<div class="grid-item">
			<a href="#" class="show-hide left-separator">via Bibtex</a>
			<div class="form-block" style="display: none;">
				<form action="." method="post">
					{% csrf_token %}
					<fieldset class="fieldset">
        				<legend>Enter Bibtex</legend>
						<textarea id="bibtex_area" rows="10" name="bibtex" cols="40"></textarea>
						<p><input class="button" name="bibtex" type="submit" value="Submit"></p>
					</fieldset>
				</form>
			</div>
			<a href="#" class="show-hide left-separator">Manually</a>
			<div class="form-block" style="display: none;">
				{% if form%}
				<form action="." method="post">
					{% csrf_token %}
					<fieldset class="fieldset">
        				<legend>Enter Manually</legend>
						{% for field in form %}

						<div class="form-item">

							<div class="form-item-label">
							   {{ field.label_tag }}
							</div>

							<div class="form-item-input">
								{{ field }}
							</div>

						</div>
						{% endfor %}
						<p><input class="button" name="manual" type="submit" value="Submit"></p>
					</fieldset>
				</form>
				{% endif %}

			</div>
			<div class="form-container" style="display: none;"></div>
		</div>
	</div>
		<!--<a href="{% url 'highlight_publications' %}">Highlight Publications</a>-->
</div>
<div class="panel">

	{% if all_publications %}
		{% for publication in all_publications %}
			{% if publication.is_highlighted %}<b>{% endif %}
	<a href="{{ publication.url }}">{{publication.title}}</a>
	{% if publication.is_highlighted %}</b>{% endif %}
	<br>
	{{publication.author}}<br>
	<div class="grid halves">
		<div class="grid-item">
			<a href="{% url 'edit_publication' publication_id=publication.id %}" class="left-separator ">Edit</a>
			<a href="{% url 'delete_publication' publication_id=publication.id %}" class="left-separator publicationDeleteLink">Delete</a>
		</div>
	</div>
	<hr>
	{% endfor %}
	{% endif %}
</div>


{% endblock %}

{% block extra_js_bottom %}
<!-- Script to show confirmation box before deleting -->
<script>
	$( ".publicationDeleteLink" ).click(function( event ) {
		event.preventDefault();
		var r = confirm("Are you sure you want to delete the publication?");
		if (r == true) {
			window.location.href = $(this).attr('href');
		}
	});
</script>
<script>
        $(".grid-item .show-hide").each(function() {
            var $this = $(this);
            var $current_html = $this.next('div.form-block').html();
            var $code = $this.parent().find('.form-container');

            $code.hide();

            $this.on('click', function(e) {
                e.preventDefault();
                if ($code.html() != $current_html){
                    $code.hide();
                    $code.html($current_html);
                }
                $code.slideToggle();

            });
        });
        </script>
{% endblock %}