{% extends "website/dashboard_template.html" %}


{% block content_body %}
<div class="bg-none section" id="content">
    <div class="row">
            <div class="grid halves">

                <div class="grid-item">
                    <div class="panel--interactive">
                        <a href="{% url 'edit_profile' %}">
                            <h2 class="title">Profile</h2>
                        </a>
                    </div>

                </div>

                <div class="grid-item">
                    <div class="panel--interactive">
                        <a href="{% url 'dashboard_publications' %}">
                            <h2 class="title">Publications / Journals</h2>
                        </a>
                    </div>

                </div>

                             <div class="grid-item">
                    <div class="panel--interactive">
                        <a href="{% url 'dashboard_courses' %}">
                            <h2 class="title">Courses</h2>
                        </a>
                    </div>

                </div>

                <div class="grid-item">
                    <div class="panel--interactive">
                        <a href="{% url 'dashboard_blog' %}">
                            <h2 class="title">Blog</h2>
                        </a>
                    </div>

                </div>

                             <div class="grid-item">
                    <div class="panel--interactive">
                        <a href="{% url 'dashboard_events' %}">
                            <h2 class="title">Events</h2>
                        </a>
                    </div>

                </div>

                <div class="grid-item">
                    <div class="panel--interactive">
                        <a href="{% url 'dashboard_team' %}">
                            <h2 class="title">Team</h2>
                        </a>
                    </div>

                </div>

                <div class="grid-item">
                    <div class="panel--interactive">
                        <a href="{% url 'dashboard_research' %}">
                            <h2 class="title">Research Section</h2>
                        </a>
                    </div>

                </div>

                <div class="grid-item">
                    <div class="panel--interactive">
                        <a href="{% url 'dashboard_careers' %}">
                            <h2 class="title">Careers Section</h2>
                        </a>
                    </div>

                </div>

                <div class="grid-item">
                    <div class="panel--interactive">
                        <a href="{% url 'dashboard_logout' %}">
                            <h2 class="title">Logout</h2>
                        </a>
                    </div>

                </div>
            </div>
    </div><!-- /.layout --></div>
</div>

{% endblock %}
