{% extends "website/dashboard_template.html" %}


{% block dashboard_content_body %}

<div class="panel">
    <h2 class="title">Team Members</h2>
        {% if form %}
        <form action="." method="post">
            {% csrf_token %}
			{% for field in form %}
                <div class="form-item">

                    <div class="form-item-label">
                        {{ field.label_tag }}
                    </div>

                    <div class="form-item-input">
                        {{ field }}
                    </div>

                </div>
                {% endfor %}
                <p><input class="button" name="manual" type="submit" value="Save Changes"></p>
        </form>
        {% endif %}
</div>
{% endblock %}
