{% extends "website/base_template.html" %}
{% load staticfiles %}
{% load customfilters %}

{% block banner %}
{% if event_post.description_img %}
<section id="banner" class="banner image">
    <img src="{{ event_post.description_img.url }}" alt="Placeholder" />
</section>

{% endif %}
{% endblock %}


{% block content_body %}

<div class="extra-space bg-none section" id="content">
    <div class="row">
      <h1 class="title">{{ event_post.title }}</h1>
      <div class="panel">
          <p class="meta date"><b>Start :</b> {{ event_post.start_date }}</p>
          <p class="meta date"><b>End :</b> {{ event_post.end_date }}</p>
        <div class="text">
          {{ event_post.body_html | youtube_embed_url |safe }}
        </div>
      </div>
      <hr>
    </div>
</div>

{% endblock %}


{% block extra_js_bottom %}
{% endblock %}