{% load staticfiles %}

<div id="branding-bar" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity" role="complementary"
     aria-labelledby="campus-name">
    <div class="row pad">
        <img src="//assets.iu.edu/brand/3.x/trident-large.png" alt="IU"/>
        <p id="iu-campus">
            <a href="{% url 'index' %}" title="Garyfallidis Lab">
                <span id="campus-name" class="show-on-desktop" itemprop="name">Garyfallidis Lab</span>
                <span class="show-on-tablet" itemprop="name">Garyfallidis Lab</span>
                <span class="show-on-mobile" itemprop="name">G-LAB</span>
            </a>
        </p>
        <!--<div class="dropdown">
            <span class="button invert dropdown-toggle" data-toggle="dropdown"><b>Login</b></span>
            <ul id="login-dp" class="dropdown-menu">
                <li>
                    <div class="row pad">
                        <div class="col-md-12">
                            Login via
                            <div class="social-buttons">
                                <a href="#" class="btn btn-fb"><i class="fa fa-github"></i> Github</a>
                                <a href="#" class="btn btn-fb"><i class="fa fa-googleplus"></i> Google Plus</a>
                                <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                            </div>
                            <div class="form-item">
                                <div class="form-item-input">
                                    <input id="keep_me_logged_in" type="checkbox"><label for="keep_me_logged_in">keep me logged-in</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>-->

    </div>
</div>
<div id="toggles">
    <div class="row pad">
        <button class="button hide-for-large" data-toggle="offCanvas">Menu</button>
        <a class="button search-toggle" href="/search">Open Search Feature</a>
    </div>
</div>
<div id="search" class="search-box" role="search"></div>
