{% load staticfiles %}

<div id="branding-bar" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity" role="complementary"
     aria-labelledby="campus-name">
    <div class="row pad">
        <img src="//assets.iu.edu/brand/3.x/trident-large.png" alt="IU"/>
        <p id="iu-campus">
            <a href="{% url 'index' %}" title="Garyfallidis Research Group">
                <span id="campus-name" class="show-on-desktop" itemprop="name">Garyfallidis Research Group</span>
                <span class="show-on-tablet" itemprop="name">Garyfallidis Research Group</span>
                <span class="show-on-mobile" itemprop="name">GRG</span>
            </a>
        </p>
    </div>
</div>
<div id="toggles">
    <div class="row pad">
        <button class="button hide-for-large" data-toggle="offCanvas">Menu</button>
        <a class="button search-toggle" href="/search">Open Search Feature</a>
    </div>
</div>
<div id="search" class="search-box" role="search"></div>
