{% extends "website/base_template.html" %}
{% load staticfiles %}
{% load customfilters %}


{% block content_body %}
<!-- Content -->
<div class="container">
<div id="homeCarousel" class="carousel slide">
	<!-- Carousel indicators -->
	<ol class="carousel-indicators">
		{% for image in all_carousel %}
		<li data-target="#homeCarousel" data-slide-to="{{forloop.counter|add:"-1"}}" class="{% if forloop.first %}active{% endif %}"></li>
		{% endfor %}
	</ol>
	<!-- Carousel items -->
	<div class="carousel-inner">
		{% for image in all_carousel %}
		<div class="item {% if forloop.first %}active{% endif %}">
			<img src="{{ image.image_url }}" alt="{{ image.image_caption }}">
			{% if image.display_description %}
			<a target="_blank" href="{% if image.target_url %}{{ image.target_url }}{% else %}#{% endif %}">
				<div class="carousel-caption">
					<h2>{{ image.image_caption }}</h2>
					{% if image.image_description %}<p>{{ image.image_description }}</p>{% endif %}
				</div>
			</a>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
{% endblock %}