{% load staticfiles %}

<nav role="navigation" aria-label="Main navigation" id="nav-main" itemscope="itemscope"
     itemtype="http://schema.org/SiteNavigationElement" class="main show-for-large dropdown">
    <ul class="row pad">
        <li class="show-on-sticky home"><a href="{% url 'index' %}">Home</a></li>
        <li class="first"><a href="{% url 'people' %}" itemprop="url"><span itemprop="name">Team</span></a></li>
        <li><a href="{% url 'research' %}" itemprop="url"><span itemprop="name">Research</span></a></li>
        <li><a href="{% url 'teaching' %}" itemprop="url"><span itemprop="name">Teaching</span></a></li>
        <li><a href="{% url 'publications' %}" itemprop="name"><span itemprop="name">Publications</span></a></li>
        <li><a href="http://nipy.org/dipy/" itemprop="url"><span itemprop="name">Software</span></a></li>
        <li><a href="{% url 'news_page' %}" itemprop="url"><span itemprop="name">News</span></a></li>
        <li><a href="{% url 'events_page' %}" itemprop="url"><span itemprop="name">Events</span></a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'dashboard' %}" itemprop="url">
                <figure class="media circle" itemscope="itemscope" itemtype="http://schema.org/ImageObject"><img alt="" itemprop="image" width="21" height="21" src="{{user.profile.avatar_url}}"></figure>
            </a></li>
        {% else %}
        <li class="last has-children"><a href="#" itemprop="url"><span itemprop="name">Login</span></a>
            <ul class="children">
                {% for backend in backends.backends %}
                {% if next %}
                <li><a href="{% url 'social:begin' backend %}?next={{next}}" itemprop="url"><span itemprop="name"> {{backend}}</span></a></li>
                {% else %}
                <li><a href="{% url 'social:begin' backend %}?next={% url 'dashboard' %}" itemprop="url"><span itemprop="name"> {{backend}}</span></a></li>
                {% endif %}
                {% endfor %}
                <li><a href="" itemprop="url"><span itemprop="name">IU-Login</span></a></li>
            </ul>
        </li>
        {% endif %}
        <li class="show-on-sticky search"><a class="search-toggle" href="/search">Search</a></li>
    </ul>
</nav>
