{% load staticfiles %}

<nav role="navigation" aria-label="Main navigation" id="nav-main" itemscope="itemscope"
     itemtype="http://schema.org/SiteNavigationElement" class="main show-for-large">
    <ul class="row pad">
        <li class="show-on-sticky home"><a href="{% url 'index' %}">Home</a></li>
        <li class="first"><a href="{% url 'people' %}" itemprop="url"><span itemprop="name">Team</span></a></li>
        <li><a href="#" itemprop="url"><span itemprop="name">Research</span></a></li>
        <li><a href="#" itemprop="url"><span itemprop="name">Teaching</span></a></li>
        <li><a href="{% url 'publications' %}" itemprop="name"><span itemprop="name">Publications</span></a></li>
        <li><a href="#" itemprop="url"><span itemprop="name">Projects</span></a></li>
        <li><a href="#" itemprop="url"><span itemprop="name">Software</span></a></li>
        <li class="last"><a href="#" itemprop="url"><span itemprop="name">News &amp; Events</span></a></li>
        <li class="show-on-sticky search"><a class="search-toggle" href="/search">Search</a></li>
    </ul>
</nav>

