{% extends "website/base_template.html" %}
{% load staticfiles %}
{% load customfilters %}

{% block content_body %}

{% if all_highlights %}
<div class="extra-space bg-gray section" id="highlight">
    <div class="row">
        <h1 class="">Highlights</h1>
        <div class="panel">
            {% for highlight in all_highlights %}
                {% if highlight|get_class == 'Publication' %}
                    <article class="news item" itemscope="itemscope" itemtype="http://schema.org/NewsArticle">
                        <div class="content">
                            <h4><a class="external" href={{highlight.url}} itemprop="url"><span itemprop="headline">{{highlight.title}}</span></a></h4>
                            <p class="meta date" content="" itemprop="">New Publication</p>
                        </div>
                    </article>
                {% elif highlight|get_class == 'EventPost' %}
                    <article class="news item" itemscope="itemscope" itemtype="http://schema.org/NewsArticle">
                        <div class="content">
                            <h4><a class="external" href="{% url 'event_post' slug=highlight.slug %}" itemprop="url"><span itemprop="headline">{{highlight.title}}</span></a></h4>
                            <p class="meta date" content="" itemprop="">New Event : {{highlight.end_date|date:"D d M Y"}}</p>
                        </div>
                    </article>
                {% elif highlight|get_class == 'BlogPost' %}
                    <article class="news item" itemscope="itemscope" itemtype="http://schema.org/NewsArticle">
                        <div class="content">
                            <h4><a class="external" href="{% url 'blog_post' slug=highlight.slug %}" itemprop="url"><span itemprop="headline">{{highlight.title}}</span></a></h4>
                            <p class="meta date" content="" itemprop="">New Blog Post</p>
                        </div>
                    </article>
                {% endif %}
                <hr style="border-color:  rgba(0,0,0,.1);">
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="extra-space bg-none section" id="content">
    <div class="row">
        <!-- Blog -->
        <div class="two-thirds">
            <h1 class="title">News</h1>
            <div class="panel">
                <ul class="feed">
                    {% for news_post in all_news %}
                    <li class="feed-item news">
                        <div class="content">
                            {% if news_post|get_class == 'BlogPost' %}
                            <h2 class="title"><a href="{% url 'blog_post' slug=news_post.slug %}"> {{ news_post.title }}</a></h2>
                            {% else %}
                            <h2 class="title"><a href="{% url 'event_post' slug=news_post.slug %}"> {{ news_post.title }}</a></h2>
                            {% endif %}
                            <p class="meta date">{{ news_post.created }}</p>
                            <p>{{ news_post.body_html | youtube_embed_url | truncatechars_html:200 | safe }}</p>
                            {% if news_post|get_class == 'BlogPost' %}
                            <p><a href="{% url 'blog_post' slug=news_post.slug %}"><span class="blog_readmore">continue reading...</span></a></p>
                            {% else %}
                            <p><a href="{% url 'event_post' slug=news_post.slug %}"><span class="blog_readmore">continue reading...</span></a></p>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% if all_news.has_other_pages %}
            <div>
            <ul class="pagination">
                {% if all_news.has_previous %}
                <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                {% for i in all_news.paginator.page_range %}
                {% if all_news.number == i %}
                <li><a class="active" href="#"><span>{{ i }} </span></a></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if all_news.has_next %}
                <li><a href="?page={{ all_news.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
            </div>
            {% endif %}
        </div>
        <!-- Social Media -->
        <div class="one-third">
            <div class="news-event" style=" padding: 1.5rem!important; background: #f7f6f5;">
            <h4>Events</h4>
            <div class="panel">
                {% for event in all_events %}
                <article class="event feed-item feed-item--small" itemscope="itemscope"
                         itemtype="http://schema.org/Event">
                    <div class="date-cube">
                        <p><span class="month">{{event.start_date|date:"M"}}</span><span class="day">{{event.start_date.day}}</span>
                        </p>
                        <p></p>
                    </div>
                    <div class="content">
                        <a href="{% url 'event_post' slug=event.slug %}"><h1 class="title"><span itemprop="name">{{event.title}}</span></h1></a>
                        <p class="meta time"><span itemprop="startDate" content="{{event.start_date}}">{{event.start_date|date:"f A"}}</span>
                            –
                            <span itemprop="endDate" content="{{event.end_date}}">{{event.end_date|date:"f A"}}</span>
                        </p>
                        <div class="visually-hidden" itemprop="location" itemscope="itemscope"
                             itemtype="http://schema.org/Place">
                            <p itemprop="name">
                            </p>
                            <p itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">-</p>
                        </div>
                    </div>
                </article>
                {% empty %}
                <p><i>No future events are currently scheduled </i></p>
                {% endfor %}
            </div>
            </div>
            <a class="twitter-timeline" data-width="200" data-height="600" href="https://twitter.com/dipymri">Tweets by dipymri</a>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdiffusionimaginginpython%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId={{ FACEBOOK_APP_ID }}" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
    </div>
</div>
</div>
{% endblock %}


{% block extra_js_bottom %}
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
