{% extends "website/base_template.html" %}

{% block content_body %}
<!-- Content -->
<div class="bg-none section" id="home">
    <div class="row">
        <div class="layout">
            {% for profile in all_profile %}
            <a href="{% url 'people_profile' username=profile.user.username %}">
                <article class="profile feed-item" itemscope="itemscope" itemtype="http://schema.org/Person">
                    <figure class="media circle" itemscope="itemscope" itemtype="http://schema.org/ImageObject"><img
                            alt="" itemprop="image"
                            src="{{ profile.avatar_url }}">
                    </figure>
                    <div class="content">
                        {% if profile.user.get_full_name|length > 0 %}
                        <h1 class="no-margin title"><span itemprop="name">{{ profile.user.get_full_name }}</span></h1>
                        {% else %}
                        <h1 class="no-margin title"><span itemprop="name">{{ profile.user.username }}</span></h1>
                        {% endif %}
                        <p class="sub-title" itemprop="jobTitle">{{ profile.job_title }}</p>
                        <dl class="meta inline">
                            <dt>Phone:</dt>
                            <dd itemprop="telephone">{{ profile.contact_number }}</dd>
                            <dt>Email:</dt>
                            <dd itemprop="email"><a rel="nofollow" href="mailto:jmbarker@iupuc.edu" class="email">{{ profile.user.email }}</a>
                            </dd>
                        </dl>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

<!-- see example here : https://www.iupuc.edu/admissions/contact-admissions/index.html -->