{% extends "website/base_template.html" %}
{% load staticfiles %}


{% block banner %}

<section id="banner" class="section bg-image text-overlay">
  <div class="bg-image-cover" style="background: url('{% static "images/publication.jpg" %}');"></div>
  <div class="row pad">
      <div class="highlight-block two-thirds">
          <h2>Publications</h2>
          <!-- <p>More than 1000 citations</p> -->
      </div>
  </div>

</section>

{% endblock %}

{% block content_body %}

<div class="extra-space bg-none section" id="content">
  <div class="row">
    <div class="two-thirds">
    {% for publication in all_publications %}
      <div class="panel">
        <p class="title"><a href="{{ publication.url }}">{{publication.title}}</a></p>
        <p>{{publication.author}}</p>
          <div class="grid halves">
            <div class="grid-item">
              <div class="code">
                {% if publication.abstract %}
                  <a href="#" class="shared-show-hide left-separator"><span itemprop="name">Abstract</span></a>
                  <div class="shared-block" style="display: none;">
                      {{publication.abstract}}
                  </div>
                {% endif %}
                {% if publication.project_url %}
                  <a href="{{publication.project_url}}" class="left-separator"><span itemprop="name">Project</span></a>
                {% endif %}
                {% if publication.bibtex %}
                  <a href="#" class="shared-show-hide left-separator"><span itemprop="name">Bibtex</span></a>
                  <div class="shared-block" style="display: none;">
                      {{publication.bibtex}}
                  </div>
                {% endif %}
                {% if publication.pdf %}
                  <a href="{{publication.pdf.url}}" class="left-separator"><span itemprop="name">PDF</span></a>
                {% endif %}

                <div class="shared-container" style="display: none;">
                </div>
              </div>
            </div>
        </div>
      </div>
      {% empty %}
      <h3> No articles found</h3>
    {% endfor %}
    </div>
    <div class="one-third" style=" padding: 1.5rem!important; background: #f7f6f5;">
      <form role="search" method="GET" class="search-form">
        <h4>Search Publications</h4>
          <input type="search" class="search-field" placeholder="Title, Authors, Keywords …" value="" name="search-words" title="Search">
          <input type="submit" class="button" name="search" value="Search">
          <a class="button" href="{% url 'publications' %}">Reset </a>
      </form>
      <!--<hr>
      <form role="order" method="GET">
      <div class="form-item">
      <h4>Order by</h4>
        <div class="form-item-input">
          <select name="select-item-one" id="select-item-one">
              <option value="years">Years</option>
              <option value="authors">Authors</option>
              <option value="title">Title</option>
              <option value="journal-type">Publication Type</option>
          </select>
        </div>
      </div>
      <input type="submit" class="button" name="order-by" value="Sort">
      </form>
      <hr>-->
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js_bottom %}
{% endblock %}