{% extends "website/base_template.html" %}
{% load staticfiles %}


{% block banner %}

<section id="banner" class="section bg-image text-overlay">
  <div class="bg-image-cover" style="background: url('{% static "images/publication.jpg" %}');"></div>
  <div class="row pad">
      <div class="highlight-block two-thirds">
          <h2>Publications</h2>
          <p>More than 500 citations</p>
      </div>
  </div>

</section>

{% endblock %}

{% block content_body %}

<div class="extra-space bg-none section" id="content">
  <div class="row">
    {% for publication in all_publications %}
      <div class="panel">
        <p class="title"><a href="{{ publication.url }}">{{publication.title}}</a></p>
        <p>{{publication.author}}</p>
          <div class="grid halves">
            <div class="grid-item">
              <div class="code">
                {% if publication.abstract %}
                  <a href="#" class="shared-show-hide left-separator"><span itemprop="name">Abstract</span></a>
                  <div class="shared-block" style="display: none;">
                      {{publication.abstract}}
                  </div>
                {% endif %}
                {% if publication.project_url %}
                  <a href="{{publication.project_url}}" class="left-separator"><span itemprop="name">Project</span></a>
                {% endif %}
                {% if publication.bibtex %}
                  <a href="#" class="shared-show-hide left-separator"><span itemprop="name">Bibtex</span></a>
                  <div class="shared-block" style="display: none;">
                      {{publication.bibtex}}
                  </div>
                {% endif %}
                {% if publication.pdf %}
                  <a href="{{publication.pdf}}" class="left-separator"><span itemprop="name">PDF</span></a>
                {% endif %}

                <div class="shared-container" style="display: none;">
                </div>
              </div>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block extra_js_bottom %}
{% endblock %}