{% extends "website/base_template.html" %}
{% load staticfiles %}

{% block banner %}

<!--<section id="banner" class="section bg-image text-overlay">
  <div class="bg-image-cover" style="background: url('{% static "images/teaching-982162_1920.jpg" %}');"></div>
  <div class="row pad">
      <div class=" two-thirds">
          <h2>Teaching</h2>
      </div>
  </div>

</section> -->

<div class="section banner bg-video loaded video-loaded" id="banner" style="background-image: none;">
    <div class="bg-image-cover" style="background-image: url('../images/banners/research-1216.jpg');"></div>
    <div class="bg-video-viewport loaded" data-height="600" data-mp4="{% static 'videos/visual_description_of_the_QuickBundles_algorithm.mp4' %}"
         data-webm="{% static 'videos/visual_description_of_the_QuickBundles_algorithm.webm' %}" data-width="1800">
        <video autoplay="autoplay" loop="loop" preload="preload" width="1800" height="600">
            <source type="video/webm" src="{% static 'videos/visual_description_of_the_QuickBundles_algorithm.webm' %}">
            <source type="video/mp4" src="{% static 'videos/visual_description_of_the_QuickBundles_algorithm.mp4' %}">
        </video>
    </div>
</div>

{% endblock %}

{% block content_body %}

<aside class="section-nav show-for-large" id="section-nav">
    <div class="row">
        <nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" data-parent-url="/research/index">
            <ul>
                {% for research in all_research %}
                <li class=""><a href="{% url 'research' %}#{{research.tag}}" itemprop="url" class=""><span
                        itemprop="name">{{research.title}}</span></a></li>
                {% endfor %}
                <li class=""><a href="{% url 'research' %}#funding" itemprop="url" class=""><span
                        itemprop="name">Funding</span></a></li>
            </ul>
        </nav>
    </div>
</aside>
<div class="bg-none section" id="content">
    <div class="row">
        <div class="layout">
            <div class="float-left">
                <div class="text">
                    <h2>Research</h2>
                    <p>Our research topics are: medical imaging, machine learning, signal processing, scientific visualization and software engineering.
                    More specifically, we focus on the development of new methods from these topics applied to diffusion MRI analysis for generic applications e.g., understanding the structural connectivity of the brain and specific applications e.g., Alzheimer’s disease, obsessive compulsive disorder or brain tumors.
                    </p>
                    <h2>Improving human health with translational outcomes</h2>
                    <p> Until today, I worked with my collaborators in examining traumatic brain injury,
                    trichotillomania and autism using dMRI (see publications in my CV). However,
                    during the last year of my Postdoctoral fellowship I collaborated on an exciting aging study
                    with Prof. Stephen Cunnane [10] testing the hypothesis that a ketone enriched diet can reduce
                    the effects of Alzheimer’s disease. This project is possibly leading to an important new approach
                    for characterising the neuroanatomical features of the progression with a biomarker based on
                    identifying microstructural changes in specific bundles. I believe, similar hypotheses can be tested
                    for many other diseases. I am looking forward for ideas and collaborations from the different experts,
                    who have accumulated decades of expertise looking into how the brain functions, so that we can clearly
                    extend the clinical usage of dMRI from mainly used as a method for examining stroke,
                    into creating new generations of advanced biomarkers which can evaluate therapies.
                    I believe this is a realistic expectation and we should be able to show this in the coming years.
                    </p>
                </div>
            </div>
        </div><!-- /.layout --></div>
</div>

{% for research in all_research %}
<div class="breakout bg-none bg-image parallax bg-dark section text-overlay" id="{{research.tag}}" style="height: 419px;">
    <div class="bg-image-cover"
         style="background-image: url({{research.background_url}}); height: 691px; transform: translate(0%, -22.9664%) translate3d(0px, 0px, 0px);">
    </div>
    <div class="row" style="top: 40%;">
        <div class="layout">
            <div class="full-width">
                <div class="text">
                    <div class="research-title">
                        <p>{{research.title}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="collapsed bg-gray section">
    <div class="row">
        <div class="layout">
            <div class="text">
                {% if research.description_page_html %}
                    {{research.description_page_html | safe}}
                {% endif %}
            </div>
        </div><!-- /.layout -->
    </div>
</div>

{% endfor %}


{% endblock %}