#branding-bar {
	img {
			transition: all 0.5s;
	}

	p {
		transition: all 0.5s;
	}

	&:hover {
		img{
			transform: scale(0.7) translate(0, -1em);
		}

		p {
			// background: #990000;
			transform: scale(1.1);
		}
	}
}
